<h3>COZA Store</h3>
<p>
    <%= @bill.customer_name %> thân mến!</b>,
</p>
<p>
Bạn đã đặt hàng các mặt hàng sau:
</p>
<table>
    <tr>
        <th colspan="2">Sản phẩm</th>
        <th>Đơn giá</th>
    </tr>
    <%= render @bill.line_items %>
</table>
 
<p>Cảm ơn bạn đã mua sắm ở <b>COZA Store<b>!</p>
