<h3>COZA STORE: Đơn hàng đã được giao</h3>
<p>
Điều này chỉ để cho bạn biết rằng chúng tôi đã giao đơn đặt hàng gần đây của bạn:
</p>
<table>
<tr><th colspan="2">Số lượng</th><th>Mô tả</th></tr>
<%= render @bill.line_items -%>
</table>