<p id="notice"><%= notice %></p>
<html>
<body>
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92">
		<%= image_tag("bg-01.jpg") %>
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
</section>
<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Câu chuyện của chúng tôi
						</h3>
            
						<p class="stext-113 cl6 p-b-26">
						 <strong>" Embracing Women's Confidence Through Fashion "</strong>
						</p>

						<p class="stext-113 cl6 p-b-26">
						 COZA là thương hiệu thời trang "Fast Fashion" có trụ sở tại thành phố Hồ Chí Minh, Việt Nam từ năm 2012. Sứ mệnh của chúng tôi là làm đẹp và nâng tầm phong cách cho phụ nữ thông qua những thiết kế bắt kịp xu hướng thế giới với mức giá phù hợp.
            </p>

						<p class="stext-113 cl6 p-b-26">
							Mục tiêu ra đời của COZA  là truyền cảm hứng và tôn vinh sự tự tin của mỗi người thông qua ngôn ngữ thời trang. Một mẫu hình phụ nữ hiện đại, tự tin, bản lĩnh là những điều mà thương hiệu chúng tôi luôn muốn tạo dựng cho đối tượng khách hàng. 
            </p>
						<p class="stext-113 cl6 p-b-26">
						Giấc mơ thời trang của COZA  là khẳng định giá trị thương hiệu và xây dựng hình ảnh tích cực của thương hiệu Việt Nam trong thị trường trong nước & quốc tế.
            </p>

					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
						<%= image_tag("about-01.jpg") %>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Thiết kế của chúng tôi
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Công việc của nhà thiết kế của chúng tôi là nghiên cứu, phân tích và mô phỏng lại những xu hướng thời trang đang diễn ra trong các sự kiện thời trang trên thế giới. Với những ý tưởng về xu hướng của màu sắc và chất liệu, nhà thiết kế của chúng tôi sẽ tạo nên 1 chủ đề của bộ sưu tập. Chủ đề của bộ sưu tập có thể là một chuỗi cảm xúc hay một thông điệp mà nhà thiết kế muốn truyền tải thông qua những thiết kế đó. Những chủ đề này sẽ được chuyển thể & truyền tải lên 1 tấm bảng gọi là bảng ý tưởng với nhiều hình ảnh, chất liệu hoặc chi tiết đính kết sẽ được sử dụng để tạo ra bộ sưu tập.
            </p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Sáng tạo chỉ là kết nối mọi thứ. Khi bạn hỏi những người sáng tạo họ đã làm gì đó, họ cảm thấy có chút tội lỗi vì họ không thực sự làm điều đó, họ chỉ nhìn thấy một cái gì đó. Nó dường như rõ ràng với họ sau một thời gian.
							</p>

							<span class="stext-111 cl8">
								- Steve Job’s 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
						<%= image_tag("about-02.jpg") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	</body>
	</html>
		
